/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERAL*/

* {
    font-family: 'Open Sans', sans-serif;
}

* {
    color: black;
}

.header-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.big-container {
    max-width: 1200px;
    margin: auto;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.my-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.my-row.space-between {
    justify-content: space-between;
}

.my-row .column-1, .column-2, .column-3 {
    width: calc(90% / 3);
}

.my-row .column-4 {
    width: 70%;
}

.my-row .column-5 {
    width: 30%;
}

.my-row .column-6 {
    width: 60%;
    background-color: red;
}

.my-row .column-7 {
    width: 40%;
    background-color: blue;
}

.row-logos {
    width: 100;
    display: flex;
    flex-wrap: wrap;
}

.row-logos .big-square {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.row-logos .big-square.left, .big-square.right {
    display: flex;
    flex-wrap: wrap;
}

.row-logos .big-square.left .small-square {
    width: 50%;
    height: 50%;
}

.row-logos .big-square.right .small-square {
    width: 50%;
    height: 50%;
}

footer .my-row-2, .footcl-1, .footcl-2, .footcl-3, .footcl-4, .footcl-5 {
    width: calc(90% / 5);
}

/*HEADER*/
/*HEADER-TOP*/
.header-top {
    background-color: #FFFFFF;
}

.header-bottom {
    background-color: #B4D0E7;
}

.header-top ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 20px 10px;
}

.header-top ul a {
    text-decoration: none;
    padding: 10px 10px;
}

.header-top-right ul .start {
    background-color: #0061FF;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
}

.header-top ul a:hover {
    text-decoration: underline 2px;
}

.header-top ul .start:hover {
    text-decoration: none;
    opacity: 0.8;
}

/*HEADER-BOTTOM*/
.header-bottom h1 {
    font-size: 5em;
    font-weight:900;
    margin-bottom: 40px;
}

.header-bottom .column-4 img {
    width: 100%;
}

.header-bottom .column-5 a {
    padding: 10px;
    background-color: #0061FF;
    color: white;
    text-decoration: none;
    margin: 25px 0;
    display: inline-block;
}

.header-bottom .column-5 a:hover {
    opacity: 0.8;
}

.big-container.move-down {
    position: relative;
    top: 60px;
}

.header-bottom .fa-arrow-down {
    font-size: 3.5em;
    margin-top: 120px;
}

/*MAIN*/
/*SECTION 1*/
section {
    background-color: #FFFFFF;
    padding-top: 100px;
}

.container h2 {
    font-size: 2.5em;
}

section .container input {
    margin: 40px 0;
    vertical-align: middle;
}

section .container label {
    margin-right: 30px;
}

input {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
}

input:checked {
    border: 5px solid #0061FF ;
  }

.container .my-row .column-1, .column-2, .column-3,  .banner-team {
    text-align: center;
}

.my-row .banner-1, .banner-2, .banner-3, .banner-team {
    padding: 10px 30px;
}

.my-row .content-column-1 h4, .content-column-2 h4, .content-column-3 h4 {
    text-align: left;
    padding: 30px 0 0 20px;
    font-size: 1em;
}

.container ul {   
    text-align: left;
    padding: 30px 20px 10px 0px;
}

.container .ulnostyle {
    list-style: none;
    margin-left: 20px;
}

.container .my-row ul li {
    margin-bottom: 10px;
}

.container .my-row ul h3 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 1.5em;
}

.container .my-row .price {
    font-weight: bold;
}

.my-row .try-now {
    background-color: #0061FF;
    text-decoration: none;
    color: white;
    padding: 10px 0;
    margin: 20px 0 10px 0;
    display: inline-block;
    width: 85%;
    text-align: center;
}

.my-row .buy-now  a {
    color: blue;
}

.try-now:hover {
    opacity: 0.8;
}

.container .my-row .buy-now {
    padding: 35px 20px ;
    text-align: left;
}

.container .my-row .buy-now span {
    border-bottom: 2px solid #E1E1E3;
    padding-bottom: 30px;
}

.banner-team {
    margin-top: 40px;
}

.my-row .column-4 h4 {
    padding: 20px 0 10px 20px;
    font-size: 1.5em;
}

.my-row .column-4 h5 {
    padding: 0px 20px;
}

.my-row .column-4 div {
    margin: 40px 0 20px 20px;
}

/*SECTION 2*/


/*SECTION 3*/
.container .margin-bottom {
    margin-bottom: 40px;
}

/*SECTION 4*/
.container .margin-link  {
    margin-top: 40px;
    display: block;
}

/*SECTION 5*/
.row-logos .big-square.center {
    background-color: grey;
}

.row-logos .big-square.left {
    background-color: red;
}

.row-logos .big-square.right {
    background-color: blue;
}

.small-square.designit {
    background-color: lightgreen;
}

.small-square.asu {
    background-color: darkred;
}

.small-square.florida {
    background-color:  lightblue;
}

.small-square.topps {
    background-color: red;
}

.small-square.relief {
    background-color: rgb(167, 21, 21);
}

.small-square.hearst {
    background-color: aqua;
}

.small-square.lonely {
    background-color: blue;
}

.small-square.clear {
    background-color: yellow;
}

/*SECTION 6*/ 
.azure-section {
    background-color: #B4D0E7;
    padding: 120px;
}

.azure-section .column-4 h4 {
    padding-left: 0;
}

.azure-section .column-5 {
    padding-right: 0;
    text-align: right;
}

/*section 7*/
.container .faq {
    padding: 30px 0;
}

.title-faq {
    margin-bottom: 40px;
}

.container .faq.one {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .faq.two {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .faq.three {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-chevron-down {
    padding: 20px;
}

/*FOOTER*/ 
footer {
    background-color: black;
    margin-top: 150px;
}

footer ul {
    list-style: none;
    padding: 20px;
}

footer ul li {
    margin-bottom: 10px;
}

footer .language {
    width: 10%;
    margin: 50px 20px;
    border-top: 1px solid white;
    padding-top: 30px;
}











/*DEGUG*/
.debug  {
  
}

.debug .header-top {
   
}

.debug .header-bottom {

}

.debug .header-top-left {
  
}

.debug .header-top-right {
 
}

.debug .jumbotron {
    height: 800px;
    background-color: red;
    border: 3px dashed navy;
}

.debug .container {

    border: 3px dashed red;
}

.debug .container .my-row {
    border: 3px dashed yellow;
}

.my-row .column-1, .column-2, .column-3 {
    border: 3px dashed blue;
}

.my-row .banner-1, .banner-2, .banner-3, .banner-team {
    border: 3px dashed violet;
}


/*SECTION 2*/
.debug .my-row-2 .column-6 {
    width: 60%;
    height: 600px;
    background-color: aquamarine;
}

.debug .my-row-2 .column-7 {
    width: 40%;
    height: 600px;
    background-color: green;
}


/*section 3*/

.debug .column-8 .img {
    width: 200px;
    height: 200px;
    background-color: green;
}

.debug .column-9 .img {
    width: 200px;
    height: 200px;
    background-color: blue;
}

.debug .column-10 .img {
    width: 200px;
    height: 200px;
    background-color: beige;
}

.debug .column-11 .img {
    width: 200px;
    height: 200px;
    background-color: green;
}

.debug .column-12 .img {
    width: 200px;
    height: 200px;
    background-color: blue;
}

.debug .column-13 .img {
    width: 200px;
    height: 200px;
    background-color: beige;
}

.foot-container {
    border: 3px dashed red;
}

.debug .container .my-row {
    min-height: 100px;
}

