/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERAL*/
* {
    font-family: 'Open Sans', sans-serif;
}

* {
    color: black;
}

section {
    background-color: #FFFFFF;
    padding-top: 150px;
}


.header-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.big-container {
    max-width: 1200px;
    margin: auto;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.my-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.my-row.space-between {
    justify-content: space-between;
}

.my-row .column-1, .column-2, .column-3 {
    width: calc(90% / 3);
    margin-bottom: 40px;
}

.my-row .column-4 {
    width: 70%;
}

.my-row .column-5 {
    width: 30%;
}

.column-5.flex {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.my-row .column-6 {
    width: 60%;
}

.my-row .column-7 {
    width: 40%;
    padding: 30px;
}

.row-logos {
    width: 100;
    display: flex;
    flex-wrap: wrap;
}

.row-logos .big-square {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.row-logos .big-square.left, .big-square.right {
    display: flex;
    flex-wrap: wrap;
}

.row-logos .big-square.left .small-square {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-logos .big-square.right .small-square {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .my-row-2, .footcl-1, .footcl-2, .footcl-3, .footcl-4, .footcl-5 {
    width: calc(90% / 5);
}

/*HEADER*/
/*HEADER-TOP*/
.header-top {
    background-color: #FFFFFF;
}

.header-bottom {
    background-color: #B4D0E7;
}

.header-top ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 20px 10px;
}

.header-top ul a {
    text-decoration: none;
    padding: 10px 10px;
}

.header-top-right ul .start {
    background-color: #0061FF;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
}

.header-top ul li a:hover {
    color: #3ca0e7;
    cursor: pointer;
}

.header-top ul .start:hover {
    text-decoration: none;
    opacity: 0.8;
    color: white;
}

/*DROPDOWN NAV BAR PERCHE DROPBOX*/
.dropdown.perchè-dropbox {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    display: none;
    background: white;
}

.header-top-left ul li:hover > .perchè-dropbox,  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    max-width: 200px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
}

.header-top-left ul li ul li,  .header-top-right ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    border-style: none;
}

.header-top-left ul li ul li a:hover {
    padding-left: 15px;
    border-left: 2px solid #3ca0e7;
    transition: all 0.2s ease;
}

/*DROPDOWN NAV FUNZIONI*/
.dropdown.solutions {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    display: none;
    background: white;
}

.header-top-left ul li:hover > .solutions,  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    max-width: 500px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
}

.header-top-left ul li ul li h4 {
    padding-left: 10px;
}


/*DROPDOWN NAV SUPPORTO*/
.dropdown.support {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    display: none;
    background: white;
}

.header-top-right ul li:hover > .support,  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    max-width: 200px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
}

.header-top-right ul li ul li a:hover {
    padding-left: 15px;
    border-left: 2px solid #3ca0e7;
    transition: all 0.2s ease;
}

.header-top-right ul li ul li h4 {
    padding-left: 10px;
}

/*HEADER-BOTTOM*/
.header-bottom h1 {
    font-size: 5em;
    font-weight:900;
    margin-bottom: 40px;
    padding-top: 70px;
}

.header-bottom .column-4 img {
    width: 100%;
}

.header-bottom .column-5 a {
    padding: 10px;
    background-color: #0061FF;
    color: white;
    text-decoration: none;
    margin: 25px 0;
    display: inline-block;
}

.header-bottom .column-5 a:hover {
    opacity: 0.8;
}

.big-container.move-down {
    position: relative;
    top: 60px;
}

.header-bottom .fa-arrow-down {
    font-size: 3.5em;
    margin-top: 120px;
}

/*MAIN*/
/*SECTION 1/SUBSCRIPTION SECTION*/
.my-row.border {
    border: 1px solid lightgray;
}

.column-1.border, .column-2.border, .column-3.border {
    border: 1px solid lightgrey;
}

.my-row.space-between.text-center {
    text-align: center;
}

.container h2 {
    font-size: 2.5em;
}

section .container input {
    margin: 40px 0;
    vertical-align: middle;
}

section .container label {
    margin-right: 30px;
}

input {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
}

input:checked {
    border: 5px solid #0061FF ;
}

.my-row .banner-1, .banner-2, .banner-3 {
    padding: 10px 30px;
    border-bottom: 1px solid lightgray;
}

.banner-team {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    padding: 10px 30px;
}

.my-row .content-column-1 h4, .content-column-2 h4, .content-column-3 h4 {
    padding: 30px 0 0 20px;
    font-size: 1em;
    text-align: left;
}

.container ul {   
    text-align: left;
    padding: 30px 20px 10px 0px;
}

.container .ulnostyle {
    list-style: none;
    margin-left: 20px;
}

.container .my-row ul li {
    margin-bottom: 10px;
}

.container .my-row ul h3 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 1.5em;
}

.container .my-row .price {
    font-weight: bold;
}

.container .my-row .period {
    color: lightgray;
}

.my-row .try-now {
    background-color: #0061FF;
    text-decoration: none;
    color: white;
    padding: 10px 0;
    margin: 20px 0 10px 0;
    display: inline-block;
    width: 85%;
    text-align: center;
}

.my-row .buy-now  a {
    color: blue;
}

.try-now:hover {
    opacity: 0.8;
}

.container .my-row .buy-now {
    padding: 35px 20px ;
    text-align: left;
}

.container .my-row .buy-now span {
    border-bottom: 2px solid #E1E1E3;
    padding-bottom: 30px;
}

.banner-team {
    text-align: center;
}

.my-row .column-4 h4 {
    padding: 20px 0 10px 20px;
    font-size: 1.5em;
}

.my-row .column-4 h5 {
    padding: 0px 20px;
}

.my-row .column-4 div {
    margin: 40px 0 20px 20px;
}

/*SECTION 2/PARTNER SECTION*/
.column-6 img {
    width: 100%;
}

.column-7 h3 {
    font-size: 1.5em;
}

.column-7 p {
    margin-top: 10px;
    margin-bottom: 40px;
}

.column-7 a {
    border: 1px solid grey;
    text-decoration: none;
    padding: 15px;
}

.column-7 a:hover {
    opacity: 0.8;
}

/*SECTION 3/TOOLS SECTION*/
.container .margin-bottom {
    margin-bottom: 40px;
}

.column-1 img, .column-2 img, .column-3 img {
    width: 100%;
}

.column-1 h3, .column-2 h3, .column-3 h3 {
    font-size: 1.5em;
    margin-bottom: 30px;
}

/*SECTION 4/STAT SECTION*/
.container .margin-link  {
    margin-top: 40px;
    display: block;
    color: blue;
}

/*SECTION 5/CUSTOMER SECTION*/
.small-square img {
    width: 150px;
}

.big-square.center img {
    width: 300px;
}

.filter-white {
    filter: invert(99%) sepia(18%) saturate(598%) hue-rotate(159deg) brightness(122%) contrast(100%);
}

.row-logos .big-square.center {
    background-color: #F5F5F5;
    padding: 50px;
}

.row-logos .big-square.center hr {
    width: 20%;
    color: #DADADD;
    margin: 30px 0;
}

.row-logos .big-square.center p {
    margin-bottom: 50px;
}

.row-logos .big-square.left {
    background-color: red;
}

.row-logos .big-square.right {
    background-color: blue;
}

.small-square.designit {
    background-color: #A2D39B;
    border: 15px solid #D1E9CD;
}

.small-square.asu {
    background-color: #61082B;
}

.small-square.florida {
    background-color: #0093CE;
}

.small-square.topps {
    background-color: #FF1C1C;
}

.small-square.relief {
    background-color: #D5001F;
}

.small-square.hearst {
    background-color: #B4D0E7;
}

.small-square.lonely {
    background-color: #0D2481;
}

.small-square.clear {
    background-color: #FFD830;
}

/*SECTION 6/FREE TRIAL SECTION*/ 
.azure-section {
    background-color: #B4D0E7;
    padding: 120px;
}

.azure-section .column-4 h4 {
    padding: 10px 150px 0 0; 
    font-size: 2.5em;
    color: #61072B;
}

.azure-section .column-5 {
    padding-right: 0;
    text-align: right;
}

.azure-section .column-5 .try-now {
    background-color: white;
    color: black;
}

/*section 7/FAQ SECTION*/
.container .faq {
    padding: 30px 0;
}

.title-faq {
    margin-bottom: 40px;
    font-size: 2.5em;
}

.container .faq {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-weight: bold;
    position: relative;
}

.faq.two, .faq.three {
    border-top: none;
}

.container .faq.one:hover, .faq.two:hover, .faq.three:hover {
    background-color: #F7F5F2;
    cursor: pointer;
}

.fa-chevron-down {
   position: absolute;
   right: 20px;
   top: 40px;
}

/*DROPDOWN FAQ*/
.dropdown-content, .dropdown-content a {
    overflow: hidden;
    z-index: -1;
    height: 0;
    transition: all ease-in-out 0.3s;
    font-weight: 400;
    line-height: 25px;
    width: 80%;
    margin-top: 10px;
}

.faq:hover  .dropdown-content {
    height: 100px;
}
  

/*FOOTER*/ 
footer {
    color: white;
    background-color: black;
    margin-top: 150px;
    padding-top: 50px;
}

footer h4 {
    font-size: 1.5em;
}

footer h4, footer ul li a {
    color: white;
    margin-bottom: 15px;
    display: inline-block;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline white;
}

footer ul {
    list-style: none;
}

footer .language {
    width: 10%;
    margin-top: 70px;
    border-top: 1px solid white;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
}

footer .language:hover {
    text-decoration: underline white;
    cursor: pointer;
}