/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERAL*/
.header-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.jumbotron {
    max-width: 1200px;
    margin: auto;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.my-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.my-row-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.my-row .column-1, .column-2, .column-3 {
    width: calc(90% / 3);
    
}

/*HEADER*/
.header-top {
    background-color: #FFFFFF;
    padding: 30px;
}

.header-bottom {
    background-color: #B4D0E7;
}

.header-top ul li {
    display: inline-block;
}

/*MAIN*/

/*SECTION 1*/
section {
    background-color: #FFFFFF;
    padding-top: 100px;
}

section .container input {
    margin: 30px 0;
    vertical-align: middle;
}

.container .my-row .column-1, .column-2, .column-3,  .banner-team {
    text-align: center;
}

.my-row .banner-1, .banner-2, .banner-3, .banner-team {
    padding: 10px 30px;
}

.container ul {
    list-style:none;
    text-align: left;
    padding: 30px 20px 10px 20px;
}

.container .my-row ul li {
    margin-bottom: 10px;
}

.container .my-row ul h3 {
    margin-bottom: 15px;
}

.container .my-row .buy-now, h4 {
    padding: 25px 20px;
    text-align: left;
}

.container .my-row .buy-now span {
    border-bottom: 1px solid grey;
    padding-bottom: 30px;
}

.container .my-row ul:last-of-type {
    padding: 0 20px;
}

.banner-team {
    margin-top: 40px;
}

.my-row .column-4 {
    width: 70%;
}

.my-row .column-5 {
    width: 30%;
    text-align: center;
    padding: 25px 20px;
}

.my-row .column-4 h4 {
    padding-bottom: 10px;
}

.my-row .column-4 h5 {
    padding: 0px 20px;
}

.my-row .column-4 div {
    margin: 40px 0 20px 20px;
}

/*SECTION 2*/
.my-row-2 .column-6 {
    width: 60%;
}

.my-row-2 .column-7 {
    width: 40%;
}











/*DEGUG*/
.debug  {
    background-color: black;
}

.debug .header-top {
    border: 3px dashed red;
}

.debug .header-bottom {
    border: 3px dashed black;
}

.debug .header-top-left {
    border: 3px dashed orange;
}

.debug .header-top-right {
    border: 3px dashed pink;
}

.debug .jumbotron {
    height: 800px;
    background-color: red;
    border: 3px dashed navy;
}

.debug .container {

    border: 3px dashed red;
}

.debug .container .my-row {
    border: 3px dashed yellow;
}

.my-row .column-1, .column-2, .column-3 {
    border: 3px dashed blue;
}

.my-row .banner-1, .banner-2, .banner-3, .banner-team {
    border: 3px dashed violet;
}


/*SECTION 2*/
.debug .my-row-2 .column-6 {
    width: 60%;
    height: 600px;
    background-color: aquamarine;
}

.debug .my-row-2 .column-7 {
    width: 40%;
    height: 600px;
    background-color: green;
}

